
body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

canvas {
    display: block;
}

.light-area {
    position: absolute;
    width: 150px;
    height: 150px;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0) 70%);
    pointer-events: none;
    transform: translate(-50%, -50%);
}


